html, body, #root {
  height: 100%;
  overflow-y: hidden;
}

.header {
  width: 100%;
  background-color: #ffcc99;
  color: white;
  text-align: center;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.promotionsList {
  overflow-y: auto;
  height: calc(100% - 130px);
}

.promotionsHeader {
  color: #00c3ff;
  border-bottom: 1px solid #00c3ff;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}